.checklist {
  p {
    &.passed {
      .bi::before {
        content: "\F26B";
        display: inline-block;
        margin-right: 0.4em;
      }
    }
    &.invalid {
      .bi::before {
        display: inline-block;
        margin-right: 0.4em;
        content: "\F622";
      }
    }
  }
}
