.sidebar-block {
  padding: 2rem 0px;
  border-bottom: 1px solid #e9ecef;
  .block-toggler {
    display: block;
    position: relative;
    color: #868e96;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .collapse {
    .sidebar-heading {
      margin-bottom: 1.2rem;
      font-weight: 400;
      color: #868e96;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }
}
