#notfound {
  position: relative;
  .notfound {
    position: absolute;
    .notfound-results {
      position: absolute;
      height: 100px;
      top:50px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      i {
        color: #ececec;
        font-size: 276px;
        margin: 0px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    h2 {
      font-family: $font-family-maven;
      font-size: 46px;
      color: #000;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0px;
    }
    p {
      font-family: $font-family-maven;
      font-size: 16px;
      color: #000;
      font-weight: 400;
      text-transform: uppercase;
      margin-top: 15px;
    }
    a {
      border-radius: 41px;
      text-transform: uppercase;
      font-family: $font-family-maven;
      font-size: 14px;
      padding: 16px 38px;
    }
  }
}
